.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rproj
.DS_Store
/data/16s/*
/raw/*/16s/*
/processed/*/16s/*
!/processed/*/16s/*.biom
!/processed/*/16s/*.tsv
!/processed/*/16s/*.txt
/test/*
!/test/scripts/*
/*/.anadama/*