.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
data/*
!data/template_new.csv
raw/*/16s/*
*/jansson_twins_ibd/
*/Kashyap_FMT_longitudinal/
*/NL-IBD/
*/STiNKi
processed/*/16s/*
!processed/*/16s/all_samples_taxonomy_closed_reference.tsv
test/
